<%= render "shared/banner" %>
<div class="container-cards">
  <ul class="cards">
    <% @cocktails.each do |cocktail| %>
    <div class="card-cocktail">
        <li>
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </li>
      </div>
    <% end %>
  </ul>
</div>
