<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
  <div class="banner-div">
    <div class="banner-right">
      <h1>Un cocktail ? Oui mais avec Mister Cocktail </h1>
      <p>La meilleure solution pour créer des cocktails fantastiques</p>
    </div>
    <div class="banner-left">
      <%= link_to "Ajouter un nouveau cocktail", new_cocktail_path %>
    </div>
  </div>
</div>
